<a href="https://colab.research.google.com/github/Siddhant2512/DataScienceEcosystem-Notebook/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**



*   Some of the popular languages that Data Scientists use are
*   Some of the commonly used libraries used by Data Scientists include
*   Some common Data Science Tools
*   A few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   C++

Some of the commonly used libraries used by Data Scientists include:


1.   Scikit-Learn
2.   PyTorch
3.   OpenCV

Data Science Tools:


1.   Jupyter Notebooks
2.   Pandas
3.   R Studio

<h3>Below are a few examples of evaluating arithmetic expressions in Python:</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<h2>Author</h2>
SIDDHANT AGGARWAL